* {
    margin: 0px;
    padding: 0px;
}

header,
nav,
div,
footer,
aside,
section,
main {
    display: block;
}

a {
    color: #ffffff !important;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: #049cdb !important;
    text-decoration: none;
    opacity: 1;
}

.logo {
    height: 70px;
}

nav div ul li i {
    padding-left: 28px;
    color: #ffffff;
}

nav div ul li {
    margin-left: 5px;
    padding: 15px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #ffffff !important;
    background-color: #343a40 !important;
}

.nav-pills .nav-link {
    color: #343a40 !important;
    border-radius: 0px !important;
}

.nav-pills .nav-link:hover {
    color: #049cdb !important;
    border-radius: 0px !important;
}

.list-unstyled {
    margin-left: 50px;
    margin-right: 50px;
}

.btn {
    margin: 40px;
    background-color: #343a40 !important;
}

.media {
    margin-top: 50px;
    margin-right: 10px;
}

.mediaP {
    display: block;
    width: 60%;
}

.media-body {
    margin-left: 10px;
}

.clear {
    clear: both;
}

.wrapper {
    margin: 0px auto;
}

footer {
    height: 50px;
    background-color: #343a40;
}

@media only screen and (max-width:768px) {
    .mediaP {
        display: block;
        width: 70%;
    }
}


/* tomorow */

#options {
    margin: 20px;
    padding-top: 30px;
}

.info-text {
    margin: 50px;
}

.audition-text {
    width: 700px;
    border-style: double;
    border-color: #343a40;
    padding: 10px;
}


/* saved */

.list-group-item.active {
    background-color: #62c462 !important;
    border-color: #468847 !important;
    color: #000000 !important;
}

.mb-1 {
    color: #000000!important;
}

.show-more {
    margin-left: 45%;
    margin-right: 45%;
}

section i {
    padding: 30px;
    font-size: -webkit-xxx-large;
    position: relative;
    display: inline-block;
    color: #343a40;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.show-more:hover .tooltiptext {
    visibility: visible;
}


/* add-audition */

.my-form {
    margin: 30px;
}